div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-md-6
      h1 Presenter side
      .col-md-12.color-bloc
        form.presenter(ng-controller="HomeCtrl")
          h2 Prepare a new lecture
          .form-group
            label Title
            input.form-control(type='text', placeholder='Title', ng-model='newLecture_title')
          .form-group
            label Description
            textarea.form-control(placeholder='Description', ng-model='newLecture_descr')
          .form-group
            label Password
            input.form-control(type='text', placeholder='Password', ng-model='newLecture_pass')
          .form-group
            label PDF file
            input(type='file', ng-file-select='onFileSelect($files)', name='file')
          .form-group
            .span-2
              button.btn.btn-primary.btn-login.black-button.btn-sub(type='submit', ng-click='startPresentation()') Start

      .col-md-12.color-bloc
         h2 Archive
         ul(ng-repeat='archive in archives')
           li
            a(href='{{archive.url}}') {{archive.title}}

    .col-md-6
      h1 Viewer side
      .col-md-12.color-bloc
        form.join(ng-controller="HomeCtrl")
          h2 Join a lecture
          .form-group
            label Password of the lecture
            input.form-control(type='text', placeholder='password of the lecture', ng-model='join_pass')
          .form-group
            label Lecture you want to join :
             a(href='{{lectureToJoinUrl}}')  {{lectureToJoin}}
          .form-group
            .span-2
              a.btn.btn-primary.btn-login.black-button.btn-sub(type='submit', ng-click='JoinPresentation()') Join



footer.footer
  .container
    p Dimmi v1 - TWEB Project 1 - Anthony Roubaty & Auriana Hug
