div(ng-include='"components/navbar/navbar.html"')
.container
	.row
		.col-md-6
			h1 Presenter side
			.col-md-12.color-bloc
				form.presenter(ng-controller="MainCtrl")
					h2 Prepare a new presentation				
					.form-group
						label Title
						input.form-control(type='text', placeholder='Title', ng-model='newLecture_title')
					.form-group
						label Description
						textarea.form-control(placeholder='Description', ng-model='newLecture_descr')
					.form-group
						label PDF file
						input(type='file', ng-file-select='onFileSelect($files)', name='pdf_file' accept='application/pdf')
					.form-group
						.span-2
							a.btn.btn-primary.black-button(href="/testSocketIO") Start
							<!-- ne fonctionne pas : button.btn.btn-primary.black-button(type='submit', ng-click='startPresentation()') -->

		.col-md-6
			h1 Viewer side
			.col-md-12.color-bloc
				form.join
					h2 Join a presentation
					.form-group
						label Title of the lecture	
						input.form-control(type='text', placeholder='title', ng-model='')
					.form-group
						.span-2
						<!-- ne fonctionne pas : button.btn.btn-primary.black-button(type='submit',  ng-click='joinPresentation()') Join -->
						a.btn.btn-primary.black-button(href="/testPdf") Join
						

footer.footer
	.container
		p
		| Dimmi v0
		= ' | '
		| TWEB Project 1 - Anthony Roubaty & Auriana Hug 