div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-md-6
      h1 Presenter side
      .col-md-12.color-bloc
        form.presenter(ng-controller="HomeCtrl")
          h2 Prepare a new lecture
          .form-group
            label Title
            input.form-control(type='text', placeholder='Title', ng-model='newLecture_title')
          .form-group
            label Description
            textarea.form-control(placeholder='Description', ng-model='newLecture_descr')
          .form-group
            label Password
            input.form-control(type='text', placeholder='Password', ng-model='newLecture_pass')
          .form-group
            label PDF file
            input(type='file', ng-file-select='onFileSelect($files)', name='pdf_file' accept='application/pdf')
          .form-group
            .span-2
              button.btn.btn-primary.black-button(type='submit', ng-click='startPresentation()') Start

    .col-md-6
      h1 Viewer side
      .col-md-12.color-bloc
        form.join
          h2 Join a lecture
          .form-group
            label Password of the lecture
            input.form-control(type='text', placeholder='password of the lecture', ng-model='presentation.password')
          .form-group
            .span-2
            <!-- ne fonctionne pas : button.btn.btn-primary.black-button(type='submit',  ng-click='joinPresentation()') Join -->
            a.btn.btn-primary.black-button(href="/viewerSide") Join


footer.footer
  .container
    p
    | Dimmi v0
  = ' | '
    | TWEB Project 1 - Anthony Roubaty & Auriana Hug
