div(ng-include='"components/navbar/navbar.html"')
.container
	.row
		.col-md-6
			h1 Presenter side
			.col-md-12.color-bloc
				form.presenter
					h2 Prepare a new presentation
					.form-group
						label Title
						input.form-control(type='text', placeholder='name', ng-model='name')
					.form-group
						label Description
						textarea.form-control(placeholder='Description', ng-model='desc')
					.form-group
						label PDF file
						select(ng-model="pdfList", ng-options="item as item for item in pdfList")
							option(value="")
					.form-group
						.span-2
							button.btn.btn-primary.black-button(type='submit', ng-click='startNewPresentation') Start


		.col-md-6
			h1 Viewer side
			.col-md-12.color-bloc
				form.join
					h2 Join presenter
					.form-group
						label Presenter	
						input.form-control(type='text', placeholder='Presenter\'s name', ng-model='name')
					.form-group
						.span-2
						button.btn.btn-primary.black-button(type='submit', ng-click='startNewPresentation') Join

footer.footer
	.container
		p
		| Dimmi v0
		= ' | '
		| TWEB Project 1 - Anthony Roubaty & Auriana Hug 