// Social buttons
// --------------------------------------------------

.btn-facebook
  color: #fff;
  background-color: #3B5998;
  border-color: #133783;

.btn-twitter
  color: #fff;
  background-color: #2daddc;
  border-color: #0271bf;

.btn-google-plus
  color: #fff;
  background-color: #dd4b39;
  border-color: #c53727;

.btn-github
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;

#headerwrap 
  margin-top -20px
  padding-top 200px
  min-height 650px
  width 100%
  background url('../assets/images/audience.jpg') no-repeat center center
  -webkit-background-size 100%
  -moz-background-size 100%
  -o-background-size 100%
  background-size 100%
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

h1.big-title
  margin-top 80px
  margin-bottom 15px
  color white
  font-size 45px
  font-weight 300
  letter-spacing 1px
  color #fff
  text-shadow 2px 2px 3px #555

.navbar-default
  .navbar-nav
    li
      a
        color white

a.signup:hover 
  color #fff
  font-weight 200


hr
  display block
  height 1px
  border 0
  border-top 2px dotted #1abd7c
  margin 1em 0
  padding 0

.mt
  margin-top 40px
  margin-bottom 40px

.line
  border-bottom 2px dotted #1abd7c

h3
  color #1abd7c
  font-weight 400

h4
  color #95a5a6
  font-weight 400
  font-size 20px

.centered
  text-align center

.color-bloc-log:hover 
  border-radius 8px

.special
  margin 15px 0

a.mega-link
	font-weight 260
	font-size 21px
	text-decoration none

a.mega-link:hover
	text-decoration underline
