div(ng-include='"components/navbar/navbar.html"')
p Test 2
button#prev Previous
button#next Next
span
| Page:
span#page_num
| /
span#page_count
div
canvas#the-canvas(style='border:1px solid black')



