canvas#the-canvas
	border 1px solid #525252
	max-width 653px	
#no_pages
	display block
	float right	
.clearer
	clear both 	
.color-bloc
	background-color #1ABD7C
	border-radius 8px
	padding 20px
.color-bloc-log
	background-color #1ABD7C
	border-radius 8px
h2 
	font-size 26px!important
.black-button
	color #fff
	background-color #000
	border-radius 6px
	display block
	border none
	margin 5px
	padding 5px 15px
.inline
	display inline!important
.centred 
	margin-left auto
	margin-right auto
	float none
a
	color #000!important
	text-decoration underline
a:hover
	color #fff
.btn-sub
	float right
	margin 0 0 0 10px
.no-margin
	margin-top 0
.dimmi
	padding-top 30px
	padding-bottom 23px
.dimmi-log 
	background-color #1ABD7C
	color #000000!important
	font-weight bold