div(ng-include='"components/navbar/navbar.html"')
.container
  button.btn.btn-default.btn-lg.black-button.float-right(type='button', value='exit', ng-click="exit()") Exit the lecture
  .row
    .col-md-8
      h1.page-header {{titlePresentation}}
      #no_pages
        span
        | Page:
        span#page_num
        | /
        span#page_count
      #nav_slides
        button.btn.btn-default.btn-lg.black-button.inline(type='button', ng-click='onPrevPage()') Previous
        button.btn.btn-default.btn-lg.black-button.inline(type='button', ng-click='onNextPage()') Next
      .clearer
      canvas#the-canvas
     
      
    .col-md-4.color-bloc.big-top-margin-pres
      h2.no-margin Audience requests
      p.btn.btn-lg.black-button {{nbSlow}} Slow down
      p.btn.btn-lg.black-button {{nbLoud}} Louder, please
      p.btn.btn-lg.black-button {{nbLost}} I'm lost
      p.btn.btn-lg.black-button {{nbInte}} Interesting
      h2 Audience live
      #chatDisplay-pres
        ul.chat-box
          li(ng-repeat='thing in listeMsg', ng-init='scroll()')
            b
              {{thing.time}}
              | - Slide 
              {{thing.numSlide}}
            | : {{thing.name}}