#no_pages
  display block
  float left
  padding-top 15px

#nav_slides
  display block
  float left
  width 50%

.clearer
  clear both

.color-bloc
  background-color #1ABD7C
  border-radius 8px
  padding 20px

.color-bloc-log
  background-color #1ABD7C
  border-radius 8px

h2
  font-size 26px !important

.no-top-margin
  margin-top 0px !important

.black-button
  font-weight 300
  display inline-block !important
  color #fff !important
  text-decoration none !important
  background-color #000
  border-radius 6px
  display block
  border none
  margin 5px
  padding 5px 15px

.black-button:hover
  background-color #000!important
  color #1ABD7C !important

.inline
  display inline !important

.border 
  border 1px solid #525252

.centred
  margin-left auto
  margin-right auto
  float none

.btn-sub
  float right
  margin 0 0 0 10px
  border-bottom-left-radius 6px !important
  border-top-left-radius 6px !important

.no-margin
  margin-top 0

.top-margin
  margin-top 20px

.dimmi
  padding-top 30px
  padding-bottom 23px

.dimmi-log
  background-color #1ABD7C
  color #000000 !important
  font-weight bold

#chatDisplay-pres
  display block
  height 400px
  overflow auto

#chatDisplay-pres
  max-height 340px !important

#chatDisplay-pres ul
  padding-left 0

#chatDisplay-pres ul li
  &:nth-child(odd)
    background-color #eee
  &:nth-child(even)
    background-color #fff
  list-style none
  padding 3px

.big-top-margin
  margin-top 130px

.big-top-margin-pres
  margin-top 110px

li#admin-link
  color #fff !important

.float-right
  float right
