div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-md-7
      h1.page-header {{titlePresentation}}
      #no_pages
        span
        | Page:
        span#page_num
        | /
        span#page_count
      .clearer
      canvas#the-canvas
      #nav_slides
        button.btn.btn-default.btn-lg.black-button.inline(type='button', ng-click='onPrevPage()') Previous
        button.btn.btn-default.btn-lg.black-button.inline(type='button', ng-click='onNextPage()') Next
      h2 Audience live
      #chatDisplay
        ul
          li(ng-repeat='thing in listeMsg', ng-init='scroll()')
          {{thing.time}}
  | : {{thing.name}}
.col-md-3.col-md-offset-1.color-bloc
  h2.no-margin Audience requests
  p.btn-lg.black-button {{nbSlow}} Slow down
  p.btn-lg.black-button {{nbLoud}} Louder, please
  p.btn-lg.black-button {{nbLost}} I'm lost
  p.btn-lg.black-button {{nbInte}} Interesting
